@model IEnumerable<Adventum.Data.EventReservation>

@{
    ViewData["Title"] = "Резервации";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-bordered">
    <thead>
    <tr>
        @if (User.IsInRole(Constants.AdministratorRole))
        {
            <th>Потребител</th>
        }
        <th>@Html.DisplayNameFor(model => model.Event.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Event.Description)</th>
        @*<th>@Html.DisplayNameFor(model => model.Event.Location.Name)</th>*@
        <th>@Html.DisplayNameFor(model => model.Event.SportActivity.Name)</th>
        <th>@Html.DisplayNameFor(model => model.ParticipantsCount)</th>
        <th>@Html.DisplayNameFor(model => model.Date)</th>

        @if (User.IsInRole(Constants.AdministratorRole))
        {
            <th>Actions</th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            @if (User.IsInRole(Constants.AdministratorRole))
            {
                <td>@item.User.FirstName @item.User.LastName</td>
            }
            <td>@item.Event.Name</td>
            <td>@item.Event.Description</td>
            @*<td>@item.Event.Location?.Name </td>*@
            <td>@item.Event.SportActivity.Name</td>
            <td>@item.ParticipantsCount</td>
            <td>@Html.DisplayFor(m => item.Date)</td>

            @if (User.IsInRole(Constants.AdministratorRole))
            {
                <td>
                    <a class="text text-danger" asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                </td>
            }
        </tr>
    }
    </tbody>
</table>